@page
@model IndexModel

@{
    ViewData["Title"] = "Login / Sign Up";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/LoginStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
}

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
   
    <div class="signup">
        <form method="post" asp-page-handler="Register">
            <label for="chk" aria-hidden="true">Sign up</label>
            @if (Model.RegisterMessage != null)
            {
                <div class="alert alert-danger">@Model.RegisterMessage</div>
            }
            @if (Model.LoginMessage != null)
            {
                <div class="alert alert-danger">@Model.LoginMessage</div>
            }
            <input type="text" name="Name" placeholder="Enter First Name" required="">
            <input type="text" name="LastName" placeholder="Enter Last name" required="">
            <input type="email" name="Email" placeholder="Enter Email it is your FullName and dont immutable" required="">
            <input type="date" name="BirthDay" placeholder="EnterYour birthDay">
            <textarea name="AboutMe" rows="3" placeholder="Enter about yourself"></textarea>
            <input type="password" name="password" placeholder="Password" required="">
            <input type="password" name="ConfirmPassword" placeholder="Confirm your password">
            <button>Sign up</button>
        </form>
    </div>
    <div class="login">
        <form method="post" asp-page-handler="Login">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="username" placeholder="Email/FullName" required="required">
            <input type="password" name="password" placeholder="Password" required="required">
            <button>Login</button>
        </form>
    </div>

</div>


